<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- source: https://www.baeldung.com/spring-boot-vue-js -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Exercises</title>
</head>
<body>

<div class="lead">
    <strong>Message:</strong>
    <span th:text="${message}"></span>
</div>

<div id="contents">
    <section v-if="errored">
        <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </section>
    <section v-else>
        <div v-if="loading">Loading...</div>

        <div v-else>
            <p>{{this.messages['how.much.exercises']}}</p>
            <input v-model.number="wantedExercises" type="number">
            <p>{{wantedExercises}}</p>
            <ul>
                <li style="list-style-type:none" v-for="(messageValue, messageKey) in messages">
                    <messages
                            v-bind:message="{'key': messageKey, 'value': messageValue}"
                            v-bind:key="messageKey">
                    </messages>
                </li>
            </ul>
        </div>
    </section>
</div>

<!-- at end of body tag-->
<script
        src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
</script>
<!-- In a real-world application, you'll likely use a build process using a tool such as Webpack and Babel transpiler, instead of using in-browser Babel. -->
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/babel">
    Vue.component('messages', {
        props: ['message'],
        template: `
          <div class="messages">
          <div class="message-body">
            <h6 class="message">
              {{ message.key + ' = ' + message.value }}
            </h6>
          </div>
          </div>`
    });

    Vue.component('how-much-exercises', {
        props: ['message'],
        template: `
          <div class="messages">
          <div class="message-body">
            <h6 class="message">
              {{ message.key + ' = ' + message.value }}
            </h6>
          </div>
          </div>`
    });

    var app = new Vue({
        el: '#contents',
        data: function () {
            return {
                exercises: null,
                messages: null,
                loading: true,
                errored: false,
                wantedExercises: 0
            }
        },
        async mounted() {
            //<!-- FIXME make it configurable -->
            let exercisesData = await axios.get('http://localhost:8080/api/exercises')
                .catch(error => {
                    console.log(error)
                    this.errored = true
                });
            this.exercises = await exercisesData.data
            //<!-- FIXME make it configurable -->
            let messagesData = await axios.get('http://localhost:8080/api/localMessages/' + this.exercises.id)
                .catch(error => {
                    console.log(error)
                    this.errored = true
                })
            this.messages = messagesData.data
            this.loading = false

            console.log("messages: " + JSON.stringify(this.messages))
            console.log("message how.much.exercises: " + this.messages['how.much.exercises'])
        }
    });
</script>
</body>
</html>